:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--mantine-color-surface-3);
  color: var(--foreground);
}

code,
pre {
  font-family: var(--font-geist-mono, monospace);
}
